body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  transition: all 300ms ease;
}

.button {
  display: block;
  min-width: 100px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.button.red {
  background-color: red;
}

.button.blue {
  background-color: blue;
}

div {
  width: 300px;
  height: 300px;
  background-color: red;
}
